# Importação de bibliotecas

In [ ]:
import pandas as pd
import psycopg2
import csv

# Criação dos DFs Pandas

In [ ]:
df_2015_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2015_1s.csv', sep = ';', encoding = 'utf-8')
df_2015_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2015_2s.csv', sep = ';', encoding = 'utf-8')
df_2016_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2016_1s.csv', sep = ';', encoding = 'utf-8')
df_2016_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2016_2s.csv', sep = ';', encoding = 'utf-8')
df_2017_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2017_1t.csv', sep = ';', encoding = 'utf-8')
df_2017_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2017_2t.csv', sep = ';', encoding = 'utf-8')
df_2017_3 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2017_3t.csv', sep = ';', encoding = 'utf-8')
df_2017_4 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2017_4t.csv', sep = ';', encoding = 'utf-8')
df_2018_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2018_1t.csv', sep = ';', encoding = 'utf-8')
df_2018_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2018_2t.csv', sep = ';', encoding = 'utf-8')
df_2018_3 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2018_3t.csv', sep = ';', encoding = 'utf-8')
df_2018_4 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2018_4t.csv', sep = ';', encoding = 'utf-8')
df_2019_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2019_1t.csv', sep = ';', encoding = 'utf-8')
df_2019_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2019_2t.csv', sep = ';', encoding = 'utf-8')
df_2019_3 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2019_3t.csv', sep = ';', encoding = 'utf-8')
df_2019_4 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2019_4t.csv', sep = ';', encoding = 'utf-8')
df_2020_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2020_1t.csv', sep = ';', encoding = 'utf-8')
df_2020_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2020_2t.csv', sep = ';', encoding = 'utf-8')
df_2020_3 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2020_3t.csv', sep = ';', encoding = 'utf-8')
df_2020_4 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2020_4t.csv', sep = ';', encoding = 'utf-8')
df_2021_1 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2021_1t.csv', sep = ';', encoding = 'utf-8')
df_2021_2 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2021_2t.csv', sep = ';', encoding = 'utf-8')
df_2021_3 = pd.read_csv('/Users/lucasuriarte/Desktop/DBs/Reclame_QtdeClientes_2021_3t.csv', sep = ';', encoding = 'utf-8')

In [ ]:
df_2020_3

# Criação de listas

In [ ]:
list_2015_1 = df_2015_1.values.tolist()
list_2015_2 = df_2015_2.values.tolist()
list_2016_1 = df_2016_1.values.tolist()
list_2016_2 = df_2016_2.values.tolist()
list_2017_1 = df_2017_1.values.tolist()
list_2017_2 = df_2017_2.values.tolist()
list_2017_3 = df_2017_3.values.tolist()
list_2017_4 = df_2017_4.values.tolist()
list_2018_1 = df_2018_1.values.tolist()
list_2018_2 = df_2018_2.values.tolist()
list_2018_3 = df_2018_3.values.tolist()
list_2018_4 = df_2018_4.values.tolist()
list_2019_1 = df_2019_1.values.tolist()
list_2019_2 = df_2019_2.values.tolist()
list_2019_3 = df_2019_3.values.tolist()
list_2019_4 = df_2019_4.values.tolist()
list_2020_1 = df_2020_1.values.tolist()
list_2020_2 = df_2020_2.values.tolist()
list_2020_3 = df_2020_3.values.tolist()
list_2020_4 = df_2020_4.values.tolist()
list_2021_1 = df_2021_1.values.tolist()
list_2021_2 = df_2021_2.values.tolist()
list_2021_3 = df_2021_3.values.tolist()

In [15]:
print(list_2017_1)

[[2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'ABC-BRASIL (conglomerado)', ' ', 0, 3, 4, 7, 15653, '14377', '3090', '2846'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'AGIPLAN (conglomerado)', '50,22', 16, 42, 75, 133, 318590, '27202', '302079', '3257'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '36321990', 'AGORACRED S/A SOCIEDADE DE CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 0, 1, 1, 178402, ' ', '178402', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'ALFA (conglomerado)', '31,2', 15, 22, 34, 71, 480685, '268776', '213888', '0'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'ANDBANK (conglomerado)', ' ', 0, 0, 2, 2, 6870, '1052', '5822', '89'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '23862762', 'AVISTA S.A. CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 0, 1, 1, 119163, ' ', '119163', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '92874270', 'BANCO A.J. RENNER S.A.', ' ', 0, 3, 4, 7, 108228, '6212', '102328', '2005'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '54403563', 'BANCO ARBI S.A.', ' ', 1, 0, 0, 1, 6047, '398', '5683', '235'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '997185', 'BANCO BM&FBOVESPA DE SERVI«OS DE LIQUIDA«√O E CUST”DIA S.A.', ' ', 0, 0, 1, 1, 770, '770', ' ', '35'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '71027866', 'BANCO BONSUCESSO S.A.', ' ', 1, 57, 16, 74, 36673, '4008', '32796', '1782'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '27098060', 'BANCO CBSS S.A.', ' ', 12, 27, 39, 78, 1574006, ' ', '1574006', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '2992446', 'BANCO CNH INDUSTRIAL CAPITAL S.A.', ' ', 0, 2, 2, 4, 27266, '1579', '26225', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '8357240', 'BANCO CSF S.A.', '7,87', 25, 33, 77, 135, 3175885, ' ', '3175885', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '4902979', 'BANCO DA AMAZONIA S.A.', ' ', 0, 3, 11, 14, 504862, '420227', '179261', '278867'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '5040481', 'BANCO DE LAGE LANDEN BRASIL S.A.', ' ', 1, 0, 2, 3, 44774, '1', '44773', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '13009717', 'BANCO DO ESTADO DE SERGIPE S.A.', '19,28', 18, 21, 8, 47, 933585, '829607', '370852', '626597'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '4913711', 'BANCO DO ESTADO DO PAR¡ S.A.', ' ', 8, 19, 19, 46, 659539, '650178', '205378', '578340'], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Banco/financeira', '7237373', 'BANCO DO NORDESTE DO BRASIL S.A.', '0,5', 3, 12, 29, 44, 5908110, '5728770', '1015309', '4408404'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '58616418', 'BANCO FIBRA S.A.', ' ', 1, 5, 10, 16, 174487, '4284', '170648', '1328'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '61348538', 'BANCO FICSA S.A.', ' ', 2, 0, 2, 4, 31223, '637', '30590', '43'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '62237425', 'BANCO FIDIS S/A', ' ', 0, 0, 4, 4, 4033, '367', '3677', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '90731688', 'BANCO FORD S.A.', ' ', 0, 1, 0, 1, 349, '83', '270', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '31880826', 'BANCO GUANABARA S.A.', ' ', 0, 0, 2, 2, 2427, '2374', '347', '338'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '34270520', 'BANCO IBM S.A.', ' ', 0, 1, 0, 1, 1166, '1', '1166', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '253448', 'BANCO NEON S.A.', ' ', 3, 2, 9, 14, 38637, '38637', ' ', '511'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '795423', 'BANCO SEMEAR S.A.', ' ', 0, 2, 5, 7, 438143, '3868', '434498', '1354'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '7679404', 'BANCO TOP¡ZIO S.A.', ' ', 0, 1, 3, 4, 21810, '3433', '19247', '636'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '3215790', 'BANCO TOYOTA DO BRASIL S.A.', ' ', 0, 1, 9, 10, 136135, '15161', '123041', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '17351180', 'BANCO TRIANGULO S.A.', '13,57', 17, 4, 5, 26, 1252028, '163599', '1102033', '14424'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BANCOOB (conglomerado)', ' ', 4, 25, 29, 58, 1770960, '1094401', '781721', '0'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BANESTES (conglomerado)', ' ', 9, 3, 7, 19, 1298766, '1174339', '417752', '860492'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BANIF (conglomerado)', ' ', 0, 0, 1, 1, 2583, '2582', '13', '1491'], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'BANRISUL (conglomerado)', '13,37', 59, 187, 120, 366, 4410257, '3270006', '2395281', '2462909'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BARIGUI (conglomerado)', ' ', 2, 12, 0, 14, 32387, ' ', '32387', ' '], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'BB (conglomerado)', '25,84', 1536, 3138, 4943, 9617, 59432237, '55626795', '23432200', '48279386'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BMG (conglomerado)', '31,44', 107, 408, 344, 859, 3402623, '16652', '3388429', '5588'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BMW (conglomerado)', ' ', 0, 1, 0, 1, 18428, ' ', '18428', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BNP PARIBAS (conglomerado)', '49,42', 135, 569, 464, 1168, 2731519, '16281', '2715679', '2350'], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'BRADESCO (conglomerado)', '25,82', 2379, 3850, 4615, 10844, 92106865, '76891519', '45837814', '34576814'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BRB (conglomerado)', '52,34', 43, 109, 206, 358, 821430, '714248', '367493', '588333'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'BTG PACTUAL (conglomerado)', ' ', 0, 0, 2, 2, 40663, '40585', '400', '4846'], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'CAIXA ECON‘MICA FEDERAL (conglomerado)', '24,61', 2068, 2763, 5973, 10804, 84016461, '81009634', '17912518', '73507354'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '9313766', 'CARUANA S.A. - SOCIEDADE DE CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 0, 1, 1, 7518, ' ', '7518', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'CCB (conglomerado)', ' ', 11, 150, 123, 284, 328050, '8109', '321197', '3666'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'CITIBANK (conglomerado)', '46,64', 61, 130, 159, 350, 1307799, '558855', '919891', '209719'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '60779196', 'CREFISA S.A.-CREDITO, FINANCIAMENTO E INVESTIMENTOS', ' ', 13, 71, 33, 117, 1452166, ' ', '1452166', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'DACASA FINANCEIRA (conglomerado)', ' ', 2, 6, 7, 15, 1198038, ' ', '1198038', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'DAYCOVAL (conglomerado)', '25,93', 23, 355, 173, 551, 886863, '48354', '844599', '15087'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'DEUTSCHE (conglomerado)', ' ', 0, 1, 0, 1, 4043, '4032', '146', '398'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '15581638', 'FACTA FINANCEIRA S.A. - CR…DITO FINANCIAMENTO E INVESTIMENTO', ' ', 11, 8, 6, 25, 24896, ' ', '24896', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'FATOR (conglomerado)', ' ', 0, 0, 1, 1, 10677, '10675', '26', '2177'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '411939', 'FINAMAX S.A. - CREDITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 1, 4, 5, 98684, ' ', '98684', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'FINAXIS (conglomerado)', ' ', 0, 1, 0, 1, 3710, '3710', '8', '378'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'GMAC (conglomerado)', ' ', 4, 11, 44, 59, 497344, '654', '496781', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'GRUPO ZEMA (conglomerado)', ' ', 0, 0, 1, 1, 135955, ' ', '135955', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'HERVAL - HS (conglomerado)', ' ', 1, 0, 2, 3, 235565, ' ', '235565', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'HONDA (conglomerado)', ' ', 2, 3, 19, 24, 453144, '19', '453130', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'INDUSTRIAL DO BRASIL (conglomerado)', ' ', 2, 6, 4, 12, 56726, '4112', '53157', '858'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'INDUSVAL (conglomerado)', ' ', 0, 2, 0, 2, 6911, '6218', '1235', '2607'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'INTERMEDIUM (conglomerado)', ' ', 10, 144, 56, 210, 330435, '110008', '233768', '34078'], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'ITAU (conglomerado)', '18,66', 1279, 3872, 4124, 9275, 68531765, '49220585', '40413962', '28830155'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'LECCA (conglomerado)', ' ', 0, 2, 1, 3, 22383, ' ', '22383', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'MERCANTIL DO BRASIL (conglomerado)', '22,31', 51, 187, 135, 373, 2285143, '1725844', '994327', '1303140'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'MERCEDES-BENZ (conglomerado)', ' ', 0, 1, 3, 4, 26987, '51', '26979', ' '], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Banco/financeira', '9464032', 'MIDWAY S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTO', '1,23', 8, 24, 30, 62, 6451982, ' ', '6451982', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'MODAL (conglomerado)', ' ', 0, 1, 3, 4, 5170, '5111', '160', '1761'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '4379829', 'NEGRESCO S.A. - CREDITO, FINANCIAMENTO E INVESTIMENTOS', ' ', 0, 1, 0, 1, 482371, ' ', '482371', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'OMNI (conglomerado)', ' ', 6, 24, 58, 88, 3183466, ' ', '3183466', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'ORIGINAL (conglomerado)', ' ', 0, 50, 67, 117, 373893, '294124', '130538', '46948'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'OURINVEST (conglomerado)', ' ', 1, 0, 0, 1, 16543, '13944', '2603', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'PAN (conglomerado)', '104,5', 316, 818, 883, 2017, 3023698, '15643', '3009858', '2052'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'PARAN¡ BANCO (conglomerado)', '90,16', 57, 177, 72, 306, 632181, '5311', '627149', '2139'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '3311443', 'PARATI - CREDITO, FINANCIAMENTO E INVESTIMENTO S.A.', ' ', 0, 0, 1, 1, 911, ' ', '911', ' '], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'PERNAMBUCANAS (conglomerado)', '0,91', 4, 14, 27, 45, 4374493, ' ', '4374493', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'PINE (conglomerado)', ' ', 0, 1, 0, 1, 3954, '3361', '893', '1190'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'PORTO SEGURO (conglomerado)', '35,15', 43, 17, 59, 119, 1223017, ' ', '1223017', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '1800019', 'PORTOCRED S.A. - CREDITO, FINANCIAMENTO E INVESTIMENTO', ' ', 3, 10, 12, 25, 136246, ' ', '136246', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'RENDIMENTO (conglomerado)', ' ', 0, 7, 2, 9, 17439, '10814', '8191', '3788'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'RODOBENS (conglomerado)', ' ', 0, 0, 5, 5, 16847, '7314', '13463', '398'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SAFRA (conglomerado)', '107,1', 104, 273, 237, 614, 971010, '287313', '735183', '88033'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '5503849', 'SANTANA S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 1, 1, 5, 7, 27995, ' ', '27995', ' '], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'SANTANDER (conglomerado)', '21,87', 821, 2548, 2837, 6206, 37527740, '32020395', '13865877', '24362717'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SANTINVEST (conglomerado)', ' ', 4, 5, 2, 11, 11575, ' ', '11575', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '7747410', 'SAX S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 2, 12, 14, 289468, ' ', '289468', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SCANIA (conglomerado)', ' ', 0, 0, 2, 2, 3866, '204', '3855', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '11970623', 'SENFF S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 0, 2, 2, 42826, ' ', '42826', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SICREDI (conglomerado)', ' ', 0, 0, 1, 1, 2809169, '2781313', '107759', '0'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SOCIETE GENERALE (conglomerado)', ' ', 3, 7, 15, 25, 1593953, '938', '1593095', '61'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '3881423', 'SOCINAL S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTO', ' ', 0, 1, 0, 1, 1638, ' ', '1638', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SOCOPA (conglomerado)', ' ', 0, 1, 1, 2, 24946, '9415', '15736', '2223'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'SOFISA (conglomerado)', ' ', 0, 1, 7, 8, 61599, '50650', '12192', '23769'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '4814563', 'SOROCRED   CR…DITO, FINANCIAMENTO E INVESTIMENTO S.A.', ' ', 4, 4, 17, 25, 336140, ' ', '336140', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Banco/financeira', '5192316', 'VIA CERTA FINANCIADORA S.A. - CR…DITO, FINANCIAMENTO E INVESTIMENTOS', ' ', 1, 1, 0, 2, 279160, ' ', '279160', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'VOLKSWAGEN (conglomerado)', ' ', 2, 14, 37, 53, 494593, '1391', '493542', ' '], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'VOLVO (conglomerado)', ' ', 0, 0, 1, 1, 10259, '119', '10251', ' '], [2017, '1∫', 'Mais de quatro milhıes de clientes', 'Conglomerado', ' ', 'VOTORANTIM (conglomerado)', '7,78', 32, 258, 272, 562, 4109589, '17884', '4093510', '4413'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'WESTERN UNION (conglomerado)', ' ', 1, 3, 1, 5, 3, '3', ' ', '1'], [2017, '1∫', 'Menos de quatro milhıes de clientes', 'Conglomerado', ' ', 'YAMAHA MOTOR (conglomerado)', ' ', 0, 12, 2, 14, 105588, '63', '105526', ' ']]

# Definindo o conector Postgre

In [8]:
class connector_postgres:
    host = "localhost"
    database = "BC_reclame_mig"
    user = "postgres"
    password = "#BrilhaLuquinha1988"

    def conectar(self):
        conn = psycopg2.connect(host=self.host,
                                database=self.database,
                                user=self.user,
                                password=self.password)
        cursor = conn.cursor()

        return conn, cursor

    def desconectar(self, conn, cursor):
        cursor.close()
        conn.commit()
        conn.close()

    def inserir(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)

    def selecionar(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        lista = []
        for result in cursor.fetchall():
            lista.append(result)
        self.desconectar(conn, cursor)
        return lista

    def update(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)

    def delete(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)


conect = connector_postgres()

In [34]:
for i in list_2021_3:
    query = "INSERT INTO bc_reclame_2021_3 (ano, semestre, categoria, tipo, cnpj, instituicao_financeira, indice, qtde_rec_reg_proc, qtde_rec_reg_nao_proc, qtde_rec_nao_reg, qtde_total_rec, qtde_total_clientes, qtde_clientes_ccs, qtde_clientes_scr) VALUES('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}')".format(i[0], i[1], i[2], i[3], i[4], i[5], i[6], i[7], i[8], i[9], i[10], i[11], i[12], i[13])
    
    
    conect.inserir(query)